/* utah hikers guide stylesheet */

/* variables */

:root {
    --primary-color: #5da5d2;
    --secondary-color: #de8e4c;
    --clear-white: #ffffff90;
    --text-color: #1e2025;
    --text-shadow: #ffffff90;
    --hover-color: #96cdef;
}

/* global element styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    position: relative;
}

p {
    color: var(--text-color);
    font-size: larger;
}

ul {
    list-style: none;
}

li {
    font-size: larger;
    color: var(--text-color);
}

li:hover {
    text-decoration: underline;
    background-color: var(--hover-color);
}


/* utilities */

.container {
    padding: 10px;
}

.primary-text {
    font-size: xx-large;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: var(--text-shadow) 1px 1px;
}

.secondary-text {
    font-size: x-large;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: var(--text-shadow) 1px 1px;
}

.bold {
    font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: larger;
    font-weight: bold;
}

.btn a {
    color: var(--text-color);
    text-shadow: var(--text-shadow) 1px 1px;
}

.btn:hover {
    text-decoration: underline;
    background-color: var(--hover-color);
    border: none;
    border-radius: 5px;
}

/* global area styles */

/* navbar */

.desktop-menu {
    display: none;
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header h1 {
    margin: 20px;
}

.mobile-menu {
    position: absolute;
    width: 100vw;
    z-index: 1;
    top: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--primary-color);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu ul {
    margin-top: 100px;
}

.mobile-menu li {
    padding: 10px;
    text-shadow: var(--text-shadow) 1px 1px;
    text-align: center;
    font-size: x-large;
}

.nav-bars {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon-bar {
    height: 15%;
    width: 80%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--text-shadow) 1px 1px;
}

/* main */

main {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}


/* content */

/* homepage */

/* action cards */

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
}

.action-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    text-align: center;
    background-color: var(--clear-white);
    margin: 5px;
}

.action-card .btn {
    margin: 15px;
}


/* hiking trails */

.hike {
    background-color: var(--clear-white);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.hike h3 {
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 10px 30px;
}

.hike img {
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}

@media (min-width:400px) {
    .hike img {
        width: 80%;
    }
}

@media (min-width: 600px) {
    .hike img {
        width: 70%;
    }
}

@media (min-width: 800px) {
    .hike img {
        width: 60%;
    }
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.stats p {
    margin: 5px;
    padding: 5px;
    font-size: 0.9rem;
    background-color: var(--hover-color);
}


/* hike suggestion form */

.hike-suggestion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.hike-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;
    background-color: var(--clear-white);
}

.hike-input label {
    margin: 5px;
    font-size: 1rem;
}

.hike-input input,
.hike-input select {
    height: 1.6rem;
}

.hike-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 85%;
}

.hike-stats .hike-photo {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-submit {
    padding: 10px 40px;
    margin-top: 25px;
}


/* confirmation page */

.response {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 65vh;
    text-align: center;
}