/* mobile css for prophets webpage */

/* variables */

:root {
    --card-background-color: #b9b9cc;
    --card-border-color: #525298;
    --primary-text-color: #4d4d96;
}

/* global */

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}

body, html {
    overflow-x: hidden;
}

main {
    background-color: #dddddd;
    width: 90%;
    margin: 0 auto;
}

/* utilities */

.container {
    padding: 10px;
}

.primary-text {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: xx-large;
}

.secondary-text {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.accent-text {
    color: black;
    font-size: medium;
}


/* content */

/* homepage */

/* header */

header {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */

#cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prophet-card {
    margin: 20px 0;
    background-color: var(--card-background-color);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.prophet-card img {
    height: 250px;
}


/* footer */

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}