/* style sheet for student home page desktop view*/

@media (min-width: 820px) {


/* header */

.mobile-menu {
    display: none;
}

.desktop-menu {
    background-color: var(--primary-color);
    display: block;
}

.desktop-menu-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-menu img {
    height: 100px;
}








}